:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.938rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--very-light-gray);
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2 {
    color: var(--very-dark-blue);
    font-size: 1.5em;
}

.first-heading--thin {
    font-weight: 200;
}

p {
    color: var(--grayish-blue);
    opacity: 0.8;
}

header {
    text-align: center;
    max-width: 35rem;
    margin: 0 auto;
}

.header__par {
    padding: 1rem  0;
}

.container {
    padding: 3rem 2rem;
    margin: 0 auto;
}

.cards {
    margin-top: 2.5rem;
}

.card {
    box-shadow: .25rem .25rem 2rem hsl(229, 6%, 66%);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    max-width: 20.5rem;
}

.card--left {
    border-top: 5px solid var(--cyan);
}

.card--top {
    border-top: 5px solid var(--red);
}

.card--bottom {
    border-top: 5px solid var(--orange);
}

.card--right {
    border-top: 5px solid var(--blue);
}

.card-par {
    margin-top: .25rem;
}

.icon {
    margin-left: auto;
    padding-top: 2rem;
}

@media (min-width: 68.75rem) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        font-size: 2em;
    }

    .cards {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 8.15rem 8.15rem 8.15rem 1fr;
    }

    .col--left {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .col--middle {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .col--right {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .card {
        margin: 0;
    }
}